body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

.calculator{
    border: 16px solid gray;
    width: 400px;
    height: 500px;
    margin-top: 10vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculator *,
.calculator * *{
    box-sizing: border-box;
}

.display{
    width: 100%;
    height: 20%;
    padding: 8px;
    background-color: lightgray;
    border: 8px solid black;
}

.display *{
    width: 100%;
    text-align: right;
}

.equation{
    height: 25%;
    font-size: 16px;
    padding-right: 4px;
}

.current{
    height: 75%;
    font-size: 50px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    height: 80%;
    border: 2px solid orange;
}

.buttons button{
    width: 100%;
    height: 100%;
    border: 2px solid orange;
    font-size: large;
    font-weight: bold;
}